body{
	background-color:pink;
	margin:0;
	overflow-y: hidden; 
}
#container1{
	width:50vw;
	height:100vh;
	background-color:#b9caab;
	float:left;
}
#container2{
	width:50vw;
	height:100vh;
	background-color:#124e42;
	float:right;
}
#navbar1{
	background-color:#b9caab;
	float:right;
	width:auto;
	height:auto;
	font-family:trajan pro;
	font-size:35pt;
	box-sizing:border-box;
	padding-right:2%;
}
#navbar2{
	background-color:#124e42;
	width:auto;
	height:auto;
	float:left;
	font-family:trajan pro;
	font-size:35pt;
	color:#b9caab;
	box-sizing:border-box;
	padding-left:2%;
}
a.navlink1{
	color:#124e42;
}
a.navlink2{
	color:#b9caab;
}
.image1{
	padding-left:30%;
	padding-top:25%;
}
.image2{
	padding-left:25%;
	padding-top:25%;
}
/* end of index page */ 
/*start of te reo page */ 
#container3{
	width:100vw;
	height:100vh;
	background-color:#b9caab;
}
#text{
	width:80%;
	height:20%;
	background-color:#b9caab;
	box-sizing: border-box;
	margin:0 auto;
	
	
}
h1{
	font-family:trajan pro;
	color:#124e42;
	padding-top:5%;
	font-size:35pt;
} 
#cards{
	width:80%;
	height:80%;
	background-color:white;
	box-sizing:border-box;
	margin:0 auto;
}
.image{
	float:left;