body{
/* 	background-color:pink; */
	margin:0;
	overflow-y: hidden;
	
}
#container1{
	width:50vw;
	height:100vh;
	background-color:#b9caab;
	float:left;
}
#container2{
	width:50vw;
	height:100vh;
	background-color:#124e42;
	float:right;
}
#navbar1{
	background-color:#b9caab;
	float:right;
	width:auto;
	height:auto;
	font-family:trajan pro;
	font-size:35pt;
	box-sizing:border-box;
	padding-right:2%;
}
#navbar2{
	background-color:#124e42;
	width:auto;
	height:auto;
	float:left;
	font-family:trajan pro;
	font-size:35pt;
	color:#b9caab;
	box-sizing:border-box;
	padding-left:2%;
}
a.navlink1{
	color:#124e42;
}
a.navlink1:hover{
	color:#f1f1f1;
}
a.navlink2{
	color:#b9caab;
}
a.navlink2:hover{
	color:#f1f1f1;
}

.image1{
	padding-left:30%;
	padding-top:25%;
}
.image2{
	padding-left:25%;
	padding-top:25%;
}
/* end of index page */ 
/*start of te reo page */ 
#container3{
	width:100vw;
	height:100vh;
	background-color:#b9caab;
}
.header{
	width:100vw;
	height:auto;
	background-color:blue;
	display:inline;
	
}
/* start of burger menu */
#burgermenu1{
	width:10%;
	height:20%;
	background-color:#b9caab;
	display:inline-block;
	float:left;
	box-sizing:border-box;
	align-content: center;
}
.fa-bars{
	padding-left: 40%;
	padding-top: 30%
}
.overlay{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color:#124e42;
	opacity:0.9;
	overflow-x: hidden;
	transition: 1s;
}
.overlay-content{
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top:30px;
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 46px;
  color: #b9caab;
  display: block;
  transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
/* end of burger menu */
#greeting{
	width:80%;
	height:20%;
	background-color:#b9caab;
	display:inline-block;
	float:left;
	box-sizing:border-box;
}
#moko{
	width:10%;
	height:20%;
	background-color:#b9caab;
	display:inline-block;
	float:left;
	box-sizing:border-box;
	padding-top:0.7%;
}
#tereopage{
	font-family:trajan pro;
	color:#124e42;
	padding-top:5%;
	font-size:35pt;
	margin-top:0;
}

/* Start of flash cards */
#cards{
	width:80%;
	height:80%;
	background-color:#b9caab;
	box-sizing:border-box;
	float:right;
	margin-right:10%;
	padding-left:50px;
	
}
.translations{
	width:200px;
	height:300px;
	background-color:#b9caab;
	box-sizing:border-box;
	border: 7px solid #124e42;
	border-radius: 5px;
	margin: 0;
	
	
}
.overlay2{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #b9caab;
	overflow: hidden;
	width: 0;
	height: 100%;
	transition: .5s ease;
}
.translations:hover .overlay2 {
    width:185px;
	height:285px;
	border: 7px solid #124e42;
	border-radius: 5px;
	margin: 0;
    background-color:#b9caab;
}
h2{ 

	margin: 0;
	position: absolute;
	top: 40%;
	left:25%;
	color: #124e42; 
	text-align:center;
}
 h3{
	color: #124e42; 
	margin: 0;
	position: absolute;
	top: 65%;
	left:20%;
	text-align:center;
	
 }
#card1{
	width:auto;
	height:auto; 
	position: absolute;
	top: 50%;
	margin: auto;
}
#card2{
	width:auto;
	height:auto; 
	position: absolute;
	top: 50%;
	margin-left:20%;
}
#card3{
	width:auto;
	height:auto; 
	position: absolute;
	top: 50%;
	margin-left:40%;
}
#card4{
	width:auto;
	height:auto; 
	position: absolute;
	top: 50%;
	margin-left:60%;
}
/* end of Te reo page */
/* start of nzsl page */ 
#container4{
	width:100vw;
	height:100vh;
	background-color:#124e42;
}
/* start of burger menu */
#burgermenu2{
	width:10%;
	height:20%;
	/* background-color:yellow; */
	display:inline-block;
	float:left;
	box-sizing:border-box;
	align-content: center;
}


/* end of burger menu */
#greeting2{
	width:80%;
	height:20%;
	background-color:#124e42;
	box-sizing: border-box;
	margin:0;
	display:inline-block;
}
#nzslpage{
	font-family:trajan pro;
	color:#b9caab;
	padding-top:5%;
	font-size:35pt;
	margin-top:0;
} 
#imageholder2{
	width:10%;
	height:20%; 
	display:inline-block;
	float:right; 
	background-color: #124e42; 
	box-sizing:border-box;
	padding-top:12px;
}
/* start of flash cards */
#cards2{
	width:80%;
	height:80%;
	background-color: #124e42;
	box-sizing:border-box;
	margin:0 auto;
}
.translations2{
	width:200px;
	height:300px;
	background-color:#124e42;
	box-sizing:border-box;
	border: 7px solid #b9caab;
	border-radius: 5px;
	margin: 0;
}
.translations2:hover .overlay2 {
    width:185px;
	height:285px;
	border: 7px solid #b9caab;
	border-radius: 5px;
	margin: 0;
    background-color:#124e42;
}
#flash1{
	width:auto;
	height:auto; 
	position: absolute;
	top: 50%;
	margin: auto;
}
#flash2{
	width:auto;
	height:auto; 
	position: absolute;
	top: 50%;
	margin-left:20%;
}
#flash3{
	width:auto;
	height:auto; 
	position: absolute;
	top: 50%;
	margin-left:40%;
}
#flash4{
	width:auto;
	height:auto; 
	position: absolute;
	top: 50%;
	margin-left:60%;
}

/* end of nzsl page */
/* start of about page */
#about{
color:#124e42;
font-family:trajan pro;
font-size:35pt;
float:right;
padding-right:2%;
}
#thanks{
color:#b9caab;
font-family:trajan pro;
font-size:35pt;	
padding-left:2%;
}

/*responsive for mobiles*/

@media only screen and (max-width: 600px) {
  #container1{
	width:100vw;
	height:50vh;
	background-color:#b9caab;
	float:left;
}
#container2{
	width:100vw;
	height:50vh;
	background-color:#124e42;
	float:right;
}
.image1{
	padding-left:100px;
	padding-top:25px;
	width:50vw;
}
.image2{
	padding-left:70px;
	padding-top:20px;
	width:70vw;
}
#navbar1{
	background-color:#b9caab;
	font-family:trajan pro;
	font-size:28pt;
	box-sizing:border-box;
	padding-right:0;
	width:100vw;
	text-align:center;
}

#navbar2{
	background-color:#124e42;
	font-family:trajan pro;
	font-size:28pt;
	box-sizing:border-box;
	padding-right:0;
	width:100vw;
	text-align:center;

}
/* start of Te Reo page */
#container3{
	width:100vw;
	height:100vh;
	background-color:#b9caab;
}
#burgermenu1{
	width:15vw;
	height:20%;
	background-color:#b9caab;
	display:inline-block;
	box-sizing:border-box;
	align-content: center;
}
.fa-bars{
/* 	color:#124e42; */
	padding-left:7.5px;
	padding-top:15px;
	font-size:10px;
}
#greeting{
	width:65vw;
	height:20%;
	background-color:#b9caab;
	display:inline-block;
	float:left;
	box-sizing:border-box;
}
#tereopage{
	font-family:trajan pro;
	color:#124e42;
	padding-top:5%;
	font-size:28pt;
	margin-top:0;
	text-align:center;
}
#moko{
	width:20vw;
	height:20%;
	background-color:#b9caab;
	display:inline-block;
	box-sizing:border-box;
	padding-top:2.5%; 
	float:right;
}
.moko2{
	width:20vw;
	
}
/* start of flash cards */
#cards{
	width:80vw;
	height:80wv;
	background-color:#b9caab;
	box-sizing:border-box;
	float:right;
	margin-right:10%;
	padding-left:85px;
}
.translations{
	width:150px;
	height:200px;
	background-color:#b9caab;
	box-sizing:border-box;
	border: 5px solid #124e42;
	border-radius: 5px;
	margin: 0;
}
#card1{
	width:auto;
	height:auto; 
	position: absolute;
	top: 25%;
	margin: auto;
	display:block;
	margin-left:
}
#card2{
	width:auto;
	height:auto; 
	position: absolute;
	top: 40%;
	display:block;
	margin:auto; 
	margin-top:20%
}
#card3{
	width:auto;
	height:auto; 
	position: absolute;
	top: 55%;
	margin:auto;
	display:block;
	margin-top:40%
}
#card4{
	width:auto;
	height:auto; 
	position: absolute;
	top: 70%;
	margin:auto;
	display:block;
	margin-top:60%
}
.overlay2{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #b9caab;
	overflow: hidden;
	width: 0;
	height: 100%;
	transition: .5s ease;
}
.translations:hover .overlay2 {
    width:140px;
	height:188px;
	border: 5px solid #124e42;
	border-radius: 5px;
	margin: 0;
    background-color:#b9caab;
}
h2{ 

	margin: 0;
	position: absolute;
	top: 35%;
	left:25%;
	color: #124e42; 
	text-align:center;
	font-size:17pt;
}
 h3{
	color: #124e42; 
	margin: 0;
	position: absolute;
	top: 80%;
	left:20%;
	text-align:center;
	font-size:12pt;
	
 }
 /* start of nzsl page */
 #container4{
	width:100vw;
	height:100vh;
	background-color:#124e42;
}
#burgermenu2{
	width:15vw;
	height:20%;
	background-color:#124e42;
	display:inline-block;
	box-sizing:border-box;
	align-content: center;
}
#greeting2{
	width:65vw;
	height:20%;
	background-color:#124e42;
	display:inline-block;
	float:left;
	box-sizing:border-box;
}
#nzslpage{
	font-family:trajan pro;
	color:#b9caab;
	padding-top:5%;
	font-size:28pt;
	margin-top:0;
	text-align:center;
}
#imageholder2{
	width:20vw;
	height:20%;
	background-color:#124e42;
	display:inline-block;
	box-sizing:border-box;
	padding-top:2.5%; 
	float:right;
}
.image4{
	width:20vw;
}
/* start of flash cards */
#cards2{
	width:80vw;
	height:80wv;
	background-color:#124e42;
	box-sizing:border-box;
	float:right;
	margin-right:10%;
	padding-left:85px;
}
.translations2{
	width:150px;
	height:200px;
	background-color:#124e42;
	box-sizing:border-box;
	border: 5px solid #b9caab;
	border-radius: 5px;
	margin: 0;
}
.translations2:hover .overlay2 {
    width:140px;
	height:188px;
	border: 5px solid #b9caab;
	border-radius: 5px;
	margin: 0;
    background-color:#124e42;
}
#flash1{
	width:50vw;
	height:auto; 
	position: absolute;
	top: 25%;
	margin: auto;
	display:block;
/* 	margin-left: */
}
.image5{
	width:35vw;
}

#flash2{
	width:auto;
	height:auto; 
	position: absolute;
	top: 40%;
	display:block;
	margin:auto; 
	margin-top:20%
}
.image6{
	width:35vw;
}
#flash3{
	width:auto;
	height:auto; 
	position: absolute;
	top: 55%;
	display:block;
	margin:auto; 
	margin-top:40%
}
.image7{
	width:35vw;
}
#flash4{
	width:auto;
	height:auto; 
	position: absolute;
	top: 70%;
	display:block;
	margin:auto; 
	margin-top:60%
}
.image8{
	width:35vw;
}

}